{% extends 'base.html.twig' %}

{% block title %}Project2 index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project2 in project2s %}
            <tr>
                <td>{{ project2.id }}</td>
                <td>{{ project2.name }}</td>
                <td>{{ project2.description }}</td>
                <td>
                  <a href="{{ path('project2_show', {'id': project2.id}) }}">show</a>
                  {% if is_granted('ROLE_ADMIN') %}
                  <a href="{{ path('project2_edit', {'id': project2.id}) }}">edit</a>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project2_new') }}">Create new</a>
{% endblock %}
