{% extends 'base.html.twig' %}

{% block title %}Project2 index{% endblock %}

{% block body %}
    <h1>Project index</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>createrId</th>
                  <th>assignedId</th>
                    <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project2 in project2s %}
            <tr>
                <td>{{ project2.id }}</td>
                <td>{{ project2.name }}</td>
                <td>{{ project2.description }}</td>
                <td>{{ project2.createrId }}</td>
                <td>{{ project2.assignedId }}</td>
                <td>
                  <a href="{{ path('project2_show', {'id': project2.id}) }}">show</a>
                  {% if is_granted('edit', project2) %}
                  <a href="{{ path('project2_edit', {'id': project2.id}) }}">edit</a>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
      </div>
    </div>
    <a href="{{ path('project2_new') }}">Create new</a>
{% endblock %}
