{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}
    <h1>Tickets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>Assigned_id</th>
                <th>File</th>
                <th>Project_id</th>
                <th>Creater_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.assignedId }}</td>
                <td>{{ ticket.file }}</td>
                <td>{{ ticket.projectId }}</td>
                <td>{{ ticket.createrId }}</td>
                <td>
                    <a href="{{ path('tickets_show', {'id': ticket.id}) }}">show</a>
                    {% if is_granted('edit', ticket) %}
                    <a href="{{ path('tickets_edit', {'id': ticket.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
